/*----------------------------------------------------------------------------
    Generic
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
 }
 
 *, *:before, *:after {
    box-sizing: inherit;
 }
 
 
 /*------------------------------------------------------------------------------
    Element - Base
 ------------------------------------------------------------------------------*/
 .wrapper {
   max-width: 1100px;
   margin: 0 auto;
 } 

 body {

   margin: 0;
   padding: 0;

   font-family: "Roboto", sans-serif;
   /*font-family: "Lato", sans-serif;
   font-family: "Quicksand", sans-serif;*/
 }
 
 /*------------------------------------------------------------------------------
    Element - Typographie
 ------------------------------------------------------------------------------*/
h1 {
   font-size: 96px;
   color: #ffffff;
   letter-spacing: 32px;
}
 
 
 /*------------------------------------------------------------------------------
    Composantes / Modules
 ------------------------------------------------------------------------------*/
 
 /* header */
 /*------------------ Header-------------------------------------- */
 header {
   background-color:#34495E ;
   
}
 /*------------------ Header-------------------------------------- */
 
 
 

 
 /*------------------ Section citation-------------------------------------- */

 .citation q {
   opacity: inherit;
 }

 
 /*------------------ Section contenu------------------------------------- */
 

 

 /*------------------ Section article------------------------------------- */
 
 

 /*------------------ Section button------------------------------------- */
 
 

    
 /*------------------ Section footer------------------------------------- */
 
 
 
 

 
 /* footer */
 